<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/style.css">
<script src="../static/script.js"></script>
<link rel="shortcut icon" href="../static/study.ico" type="image/x-icon">
<head>
    <meta charset="UTF-8">
    <title>My Website</title>
</head>
<body>
I am a Web Master
{{ 3+4 }}  <!-- Due to these 2 curly brackets, flask evaluate this and 7 in output, whereas if
 we have called this expression directly from HTML, it would have given {{ 3+4 }} this exact expression.--> <br>
{{name}}
{{post_id}}
</body>
</html>